**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




.up-heder{
    length: 100%;
    height: 50px;
    background-color: black;
    font-size: 12px;
    color: #f2f2f2;
    display: flex;
}
body{
    margin: 0;
    background-color: #ffffff;
}


.up-heder-line{
   padding-left:120px;
   padding-top:7px;
   padding-bottom: 10px;
}
.up-heder-line{
    display: flex;
    align-items: center;
}
.down-heder{
    display: flex;
    align-items: center;
    width: 100%;
    height: 94px;
    flex-wrap: nowrap;
}
.down-down-heder{
    width: 100%;
    height: 60px;
    background-color: #f9f9f9;
}

.gorod{
    border: none;
    background-color: black;
    color: #f2f2f2;
}
.icon{
    height: 18px;
    width: 22px;
    margin-right: 10px;
}
.icon2{
    width: 24px;
    height: 24px    ;
}
.icon1{
    margin-right: 10px;
    height: 22px;
    width: 26px;
}
.up-heder-i{
    display: flex;
    align-items: center;

}

.up-heder-ii{
    display: flex;
    align-items: center;
    margin-left: 200px;
}
.down-heder-ii{
    display: flex;
    align-items: center; 
}
.down-heder-i{
    margin-left: 130px;
    display: flex;
    align-items: center; 
}

.logo{
    margin-left: 280px;
    margin-right: 300px;
}
.incon2{
    width: 24px;
    height: 24px;
    vertical-align: text-top;
    text-align: center;
}

.nav-obj{
    
    margin-left:26px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f2f2f2;
    font-family: "PT Sans Caption";
}

.nav-obj1{
    
    margin-right:33px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f2f2f2;
    font-family: "PT Sans Caption";
}
.down-heder{
    background-color: white;
    width: 100%;
    height: 94px;
}
.nav-obj2{
    margin-top: 16px;
    text-decoration: none;
    color:black;
    font-size: 14px;
    margin-right:15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    font-style: normal;
    
    flex-direction: column;
    font-family: "PT Sans Caption";
    align-items: center;
} 
.innav-obj2{
    color:black;
    font-size: 8px;
    font-weight: 600;
    text-decoration: none;
    font-family: "PT Sans Caption";
} 
.nav-obj2:hover{
    margin-top: 16px;
    border-bottom: 2px solid black;
    border-bottom-style: groove;
    font-size: 14px;
    margin-right:15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    flex-direction: column;
    font-family: "PT Sans Caption";
    align-items: center;
} 
.ddh-line{
    padding-top: 8px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    font-size: medium;
}
.nav-obj3{
    margin-top: 16px;
    color:black;
    font-size: 14px;
    font-weight:  600;
    margin-right:25px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-items: center; 
}
.nav-obj3:hover{
    margin-top: 16px;
    /* color:red; */
    font-size: 14px;
    font-weight:  600;
    margin-right:25px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-items: center; 
    animation-name: coloring;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes coloring {
    from{ color:black;}
    to{ color: red; }
}

@keyframes mooving{
    from{margin-left: 400px;
        width: 100px;
        color:white;
        height: 100px;
    }
    to{margin-left: 800px;
        width: 300px;
        height: 300px;
        color:red;
        background-color: pink;
        font-size: 30px;
    }
}
.quadro{
    width: 100px;
    height: 100px;
    display: flex;
    padding: 0px 5%;
    color: white;
    align-items: center;
    text-align: center;
    background-color: aquamarine;
    margin: 0px 400px;
    margin-top: 100px;
    background-color: rgb(0, 255, 170);
    animation-name: mooving;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.partners{
    margin: 50px auto;
    width: 1300px;
    height: 60px;
}
.sell__slider{
    height: 482px;
    width: 1360px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,9,121,1) 0%, rgba(0,212,255,1) 100%);
    margin: 0 auto;
    margin-top:25px;
}

.sells{
    display: flex;
    align-items: center;
    width: 1361px;
    height: 340px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.sells__sell{
    height: 340px;
    width: 667px;
    margin-right: 25px;
}

.sells__sell-name{
    background-color: black;
    color: #f2f2f2;
    text-align: center;
    font-family: "PT Sans Caption";
    font-size: 21px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: -10px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__title{
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    margin-bottom: 48px;
}
.slider__item{
    margin: 160px 48px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 1359px;
    height: 486px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 77px;
}

.slider__item-part{
    width: 321px;
    height: 464px;
    margin-right: 25px;
    background: rgb(2,0,36);
    background: linear-gradient(151deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(94,58,156,1) 100%);
}

.slider__item__more{
    margin-left: 679px;
    font-family: 'Roboto';
    background-color: black;
    color:#f2f2f2;
    text-align: center;
    font-size: 16px;
    width: 322px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 100px;
}
@keyframes bigger{
  from{width: 322px;
      height: 50px;
      font-size: 16px;
      margin-bottom: 100px;}
    to{width: 327px;
       height: 55px;
       font-size: 18px;
       margin-bottom: 95px;}
}
.slider__item__more:hover{
  animation-name: bigger;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards
}
.info{
  
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  align-items: center;
  color: #828282;
  width: 1360px;
  margin: 0px auto;
}
.info__text-title{
  margin: 0px auto;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
  font-size: 21px;
  font-weight: 500;
}
.info__text{
  width: 50%;
  height: 120px;
  margin: 0px auto;
  text-align: center;
  
}

footer{
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 170px;
}


.bLogo{
    display: flex;
    margin-right: -500px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

.footer-navbar{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.footer-navbar-item{
  display: grid;
  margin-right: 120px;
}

.footer-content-title{
  font-family: 'Roboto';
  color:#f2f2f2;
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-content-text{
  font-family: 'Roboto';
  color: #bdbdbd;
  font-size: 12px;
  text-decoration: none;
}

.footer-content-text:hover{
  font-family: 'Roboto';
  color: #bdbdbd;
  font-size: 12px;
  text-decoration:underline;
}

.konts{
  display: flex;
  margin-top: 232px;
  margin-left: 160px;  
}

.konts-logo{
  /* height: 17px;
  width: 21.1px; */
  margin-right: 26px;
}